# Ignore compiled Python files
*.pyc

# Ignore the virtual environment directory
venv/

# Ignore the Pipfile.lock file
Pipfile.lock

# Ignore the __pycache__ directory
__pycache__/

# Ignore the .vscode directory
.vscode/